.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #faf2ff;
  font-family: Arial, sans-serif;
}

/* Wrapper to center form */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}


/* Form box */
.form-container {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


/* Labels */
.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #444;
}

/* Inputs */
.input {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input:focus {
  border-color: #4a7cff;
}

/* Button */
.btn {
  width: 100%;
  padding: 10px;
  background: #4a7cff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #36dc4f;
}
